<div class = "container">
  <h1><center>USER PROFILE</center></h1>
  <h3><center><%=@user.name%></h3>
  <h5>About:</h5>
  <p>Generating OC's since <%=@user.created_at%></p>
  <h5><%=@user.name%>'s OCs:</h5>



  <% if @user.original_characters.empty? %>
    <p>This user hasn't generated any OC's yet!<p>
  <%else%>
    <% @user.original_characters.each do |character|%>
      <ul class = "accordion">
        <li><%=character.name%>
          <form action = '/character_bio/<%=character.id%>' id = "form_buttons">
            <input type="submit" value="View Bio">
          </form>
        </li>
      </ul>
    <%end%>
  <%end%>

</div>
