<div class = "container">
  <h1><center>USER PROFILE</center></h1>
  <h3><center><%=@user.name%></h3>
  <h5>About:</h5>
  <p>Generating OC's since <%=@user.created_at%></p>
  <h5><%=@user.name%>'s OCs:</h5>



  <% if @user.original_characters.empty? %>
    <p>This user hasn't generated any OC's yet!<p>
  <%else%>
    <% @user.original_characters.each do |character|%>
        <!-- this goes through each user's OCs and displays them -->
      <div id = "biography">
        <li class ="character"><%=character.name%> :
        <form action = '/character_bio/<%=character.id%>' method = "GET" class = "view_buttons">
          <input type="submit" value="View Bio" id = "view">
        </form> |

        <!-- hidden character bio -->
        <span class = "hidden">
        <p>Title: <%=character.title%></p>
        <p>Name: <%=character.name%></p>
        <p>Age: <%=character.age%></p>
        <p>Hair Color: <%=character.hair_color%></p>
        <p>Eye Color: <%=character.eye_color%></p>
        <p>Personality: <%=character.personality%></p>
        </span>

        <!-- This is where the delete button is -->
        <%if session[:user_id] == character.user_id%>
          <form action = '/character_bio/<%=character.id%>' method ="POST" class = "delete_buttons">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete this character">
          </form>
        <%end%>
        </li><br>
      </div>
    <%end%>
  <%end%>

</div>

<!-- link buttons to different pages -->
<a href = '/random'>
<div class = "exit">
  <p>Create OCs</p>
</div>
</a>
<a href = '/'>
  <div class = "other_exit">
    <p>Home</p>
  </div>
</a>
