<div class = "container">
  <h1>Character Bio</h1>
  <p>Title: <%=@character.title%></p>
  <p>Name: <%=@character.name%></p>
  <p>Age: <%=@character.age%></p>
  <p>Hair Color: <%=@character.hair_color%></p>
  <p>Eye Color: <%=@character.eye_color%></p>
  <p>Personality: <%=@character.personality%></p>
  <a href ='/user/<%=@character.user_id%>'>Creator's</a> profile</p>

</div>
<a href = '/character_bio'>
<div class = "exit">
  <p>Go Back</p>
</div>
</a>
<a href = '/'>
  <div class = "other_exit">
    <p>Home</p>
  </div>
</a>
