<div class = "container">
  <h1>Character Bio</h1>
  <p>Title: <%=@character.title%></p>
  <p>Name: <%=@character.name%></p>
  <p>Age: <%=@character.age%></p>
  <p>Hair Color: <%=@character.hair_color%></p>
  <p>Eye Color: <%=@character.eye_color%></p>
  <p>Personality: <%=@character.personality%></p>
  <a href ='/user/<%=@character.user_id%>'>Creator's</a> profile</p>

  <%if session[:user_id] == @character.user_id%>
  <form action = '/character_bio/<%=@character.id%>' method ="POST" id = "form_buttons">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete this character">
  </form>
  <%end%>

</div>
<a href = '/character_bio'>
<div id = "exit">
  <p>Go Back</p>
</div>
</a>
