<div class = "container">
  <h1>YOUR ORIGINAL CHARACTER!</h1>
  <p>Title: <%=$random_character.title%></p>
  <p>Name: <%=$random_character.name%></p>
  <p>Age: <%=$random_character.age%></p>
  <p>Hair Color: <%=$random_character.hair_color%></p>
  <p>Eye Color: <%=$random_character.eye_color%></p>
  <p>Personality: <%=$random_character.personality%></p>
  <form action = '/random' method = 'POST' class = 'form_buttons'>
    <input type = 'submit' value = 'I like it!'>
    <input type = 'submit' value = 'UGH too Mary Sue!'>
  </form>
</div>
